<template>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/countries" class="section">Countries</a>
      <i class="right angle icon divider"></i>
      <div class="active section">${country.name}</div>
    </div>
    <div class="ui message">
      <div class="header">
        Info
      </div>
      <div if="condition.bind: loading" class="head-loader loading ui placeholder">
        <div class="long line"></div>
        <div class="short line"></div>
        <div class="short line"></div>
      </div>
      <ul if="condition.bind: !loading" class="list">
        <li><p>Continent: ${country.continent}</p></li>
        <li><p>Wikipedia: <a href='${country.wikipediaLink}'>${country.wikipediaLink}</a><span if.bind="!country.wikipediaLink">N/A</span></p></li>
        <li><p>Keywords: ${country.keywords}<span if.bind="!country.keywords">N/A</span></p></li>
      </ul>
    </div>
    <h3 class="title-header">Regions</h3>
    <div if.bind="emptyRegion && !loading" class="ui container">
      <p>no regions are here.</p>
    </div>
    <div if="condition.bind: loading" class="ui placeholder">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div if="condition.bind: !loading" class="virtual-repeater-wrapper">
      <div class="virtual-repeated-item" repeat.for="region of country.regions">
        <a href="/regions/${region.regionId}">${region.name}</a>
      </div>
    </div>
  </div>
</template>
