<template>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/regions" class="section">Regions</a>
      <i class="right angle icon divider"></i>
      <div class="active section">${region.name}</div>
    </div>
    <div class="ui message">
      <div class="header">
        Info
      </div>
      <div if="condition.bind: loading" class="head-loader loading ui placeholder">
        <div class="long line"></div>
        <div class="medium line"></div>
        <div class="short line"></div>
        <div class="short line"></div>
      </div>
      <ul if="condition.bind: !loading" class="list">
        <div innerhtml.bind="infoText | sanitizeHTML"></div>
      </ul>
    </div>
    <h3 class="title-header">Airports</h3>
    <div if.bind="emptyAirport && !loading" class="ui container">
      <p>No airports are here.</p>
    </div>
    <div if="condition.bind: loading" class="ui placeholder">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div if="condition.bind: !loading" class="virtual-repeater-wrapper">
      <div class="virtual-repeated-item" repeat.for="airport of region.airports">
        <a href="/airports/${airport.airportId}">${airport.name}</a>
      </div>
    </div>
  </div>
</template>
