<template>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/regions" class="section">Regions</a>
      <i class="right angle icon divider"></i>
      <div class="active section">${region.name}</div>
    </div>
    <h2 class="title">Airports</h2>
    <div class="virtual-repeater-wrapper">
      <div class="virtual-repeated-item" repeat.for="airport of region.airports">
        <a href="/airports/${airport.airportId}">${airport.name}</a>
      </div>
    </div>
  </div>
</template>
