<template>
  <require from="../../converters/count-formatter"></require>
  <div class="ui container regions">
    <div class="ui breadcrumb">
      <div class="active section">Regions</div>
    </div>
    <div if="condition.bind: !loading" style="display: block" class="ui horizontal statistic">
      <div class="value">
        ${regions.length | countFormat}
      </div>
      <div class="label">
        Entries
      </div>
    </div>
    <div class="virtual-repeater-wrapper">
      <div if="condition.bind: loading" class="ui active text indeterminate loader">Loading</div>
      <div class="virtual-repeated-item" virtual-repeat.for="region of displayRegions" infinite-scroll-next="getMore">
        <a href="/regions/${region.regionId}">${region.name}</a>
      </div>
    </div>
  </div>
</template>
