<template>
  <require from="./home.css"></require>
  <div class="home-container">
    <div class="home-main">
      <div class="message">
        <h1>Find the best day to picnic</h1>
        <p>Discover and browse airports nearby your area</p>
      </div>
    </div>
    <div class="ui center aligned basic segment">
      <div class="filter search">
        <h2>Search Directly</h2>
        <!-- Filter button -->
        <div class="ui filter floating dropdown labeled icon button">
          <i class="filter icon"></i>
          <span class="text">Select Filter</span>
          <div class="search menu">
            <div class="scrolling menu">
              <div data-value="countries" class="item">
                <div class="ui yellow empty circular label"></div>
                Countries
              </div>
              <div data-value="regions" class="item">
                <div class="ui orange empty circular label"></div>
                Regions
              </div>
              <div data-value="airports" class="item">
                <div class="ui red empty circular label"></div>
                Airports
              </div>
            </div>
          </div>
        </div>
        <!-- countries search box -->
        <div class="countries ui disabled search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search data...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      <!-- regions search box -->
      <div class="regions ui disabled search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search data...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      <!-- airports search box -->
      <div class="airports ui disabled search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search data...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="ui horizontal divider">
        Or
      </div>
      <!-- location button -->
      <div class="ui teal labeled icon button location disabled">
        Use My Location
        <i class="map marker icon"></i>
      </div>
    </div>
  </div>
</template>
