<template>
  <require from='./header.css'></require>
  <div class='top menu header-container'>
    <div id="menu" class="ui icon top left pointing dropdown button">
        <i class="fas fa-bars"></i>
        <div class="menu">
          <a route-href="route: home" class="item home">Home</a>
          <a route-href="route: countries" class="item countries">Countries</a>
          <a route-href="route: regions" class="item regions">Regions</a>
          <a route-href="route: airports" class="item airports">Airports</a>
          <div class="ui divider"></div>
          <a class="disabled item">Settings</a>
          <a class="item">About</a>
        </div>
      </div>
    <a route-href="route: home"><img class='logo' src='../../assets/images/logo.png'/></a>
  </div>
</template>
