.logo {
  max-height: 36px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: #FAFAFB;
}

#menu {
  background-color: transparent;
  height: 24px;
  padding-top: 5px;
}

#menu i {
  font-size: 16px;
}

.filler {
  flex: 1;
}
