<template>
  <require from="./airportProfile.css"></require>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/airports" class="section">Airports</a>
      <i class="right angle icon divider"></i>
      <div class="active section">${airport.name}</div>
    </div>
    <div class="ui message">
      <div class="header">
        Info
      </div>
      <div if="condition.bind: loading" class="head-loader loading ui placeholder">
        <div class="medium line"></div>
        <div class="long line"></div>
        <div class="long line"></div>
        <div class="short line"></div>
        <div class="short line"></div>
      </div>
      <ul if="condition.bind: !loading" class="list">
        <div innerhtml.bind="infoText"></div>
      </ul>
    </div>
    <div if.bind="emptyRunways && !loading" class="ui container">
      <p>no runways are here.</p>
    </div>
    <h3>Predictions</h3>
    <div class="runways">
      <div repeat.for="p of predictions" class="runway-item">
          <div class="ui card">
              <div class="content">
                <div class="header">Day ${$index} - Runway ${p.runwayId}</div>
                <div class="meta"><a>${p.leLatitudeDeg}, ${p.leLongitudeDeg}</a></div>
                <div class="description">This runway is angled ${p.leHeadingDegT}&deg;, it is ${p.lengthFt} ft long and ${p.widthFt} ft wide.</div>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>
