.ui.container {
  padding-bottom: 20px;
}

.ui.card {
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color: #c89f9c;
}

.runways, .runway-stats {
  margin: 0 50px;
}

.slick-slide {
  padding: 1px;
  padding-bottom: 2px;
}

.accordion {
  margin-top: 10px;
}

.hide {
  display: none;
}
